# Add your Neon PostgreSQL connection string here
DATABASE_URL=postgresql://username:password@ep-xxxx.us-east-2.aws.neon.tech/dbname?sslmode=require
PORT=3000

# AmarPay Payment Gateway
AAMARPAY_STORE_ID=aamarpaytest
AAMARPAY_SIGNATURE_KEY=dbb74894e82415a2f7ff0ec3a97e4183
AAMARPAY_SANDBOX=true
